.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App h1 {
  margin-bottom: 40px;
}
.App .red {
  color: var(--prim-color);
}
.main {
  display: flex;
  flex-grow: 1;
}

.main-container {
  margin: auto;
}
