.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.App h1 {
  margin-bottom: 3.5%;
  font-weight: 500;
  font-size: clamp(35px, 3.4vw, 48px);
}
.App h2 {
  font-weight: 400;
  font-size: clamp(16px, 1.3vw, 18px);
  line-height: 24px;
}
.App .red {
  color: var(--prim-color);
}
.main {
  display: flex;
  flex-grow: 1;
}

.main-container {
  margin: 2% auto;
}
