.charts {
  display: flex;
  gap: 32px;
}

.charts-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.charts-subcontainer {
  display: flex;
  justify-content: space-between;
}
.chart {
  background-color: var(--light);
  border-radius: 5px;
}
.chart-red {
  background-color: var(--prim-color);
  position: relative;
}
.chart-red::before {
  content: ' ';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 70%;
  background-color: black;
  opacity: 0.1;
}

.chart-dark {
  background-color: var(--sec-color);
}

.chart-small {
  height: 260px;
  width: 260px;
}

.chart h3 {
  font-weight: 500;
  font-size: 15px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  flex-grow: 1;
}
