.histogram {
  padding: 24px 15px 40px 15px;
  width: clamp(500px, 65vw, 835px);
  height: 320px;
}

.histogram .recharts-bar.calories {
  fill: var(--prim-color);
}
.histogram .recharts-bar.kilogram {
  fill: var(--sec-color);
}

.histogram tspan {
  fill: var(--text-light);
  font-weight: 500;
  font-size: 14px;
}

.histogram .histogram-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: var(--text-light);
  font-weight: 500;
  font-size: 14px;
}

.histogram .histogram-header h3 {
  color: var(--text-dark);
}
.histogram .histogram-header figcaption {
  color: var(--text-med);
  display: flex;
  justify-content: space-between;
  width: 33%;
}
.histogram .histogram-header img {
  margin-right: 8px;
}

.histogram .graph-wrapper {
  height: 100%;
  width: 100%;
}

.histogram-tooltip {
  background-color: var(--prim-color);
  color: white;
  font-weight: 400;
  font-size: 10px;
}

.histogram-tooltip li {
  padding: 10px;
  text-align: center;
}
