.navIcon {
  max-width: clamp(50px, 4.5vw, 64px);
  height: clamp(50px, 4.5vw, 64px);

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 6px;
  margin: auto;
  background-color: white;
}

.navIcon img {
  width: 55%;
  object-fit: contain;
}
