.pie {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie h3 {
  position: absolute;
  top: 13%;
  left: 10%;
}
.pie .pieLegend {
  text-align: center;
  width: fit-content;
  margin: auto;
  font-weight: 500;
  font: 16px;
  line-height: 26px;
  color: var(--text-light);
}

.pie .pieLegend .bold {
  font-weight: 700;
  font-size: 26px;
  color: var(--black);
}
