.pie {
  grid-area: pie;
  place-self: end;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.pie h3 {
  position: absolute;
  top: 13%;
  left: 10%;
}

.pie .pieLegend {
  width: fit-content;

  margin: auto;

  font-weight: 500;
  font: 16px;
  color: var(--text-light);
  line-height: 26px;
  text-align: center;
}

.pie .pieLegend .bold {
  font-weight: 700;
  font-size: 26px;
  color: var(--black);
}

@media (max-width: 1250px) {
  .pie h3 {
    position: absolute;
    top: 10%;
    left: 8%;
  }
}
